body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    background-color:blue;
    width: 50px;
    height: 50px;
    animation: mover 2s linear infinite;
}
@keyframes mover {
0% {transform:  translate(0);}
100% {transform:  translate(100px);}
}