body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    background-color: blue;
    border-radius: 4px;
    padding: 8px 16px;
    border: none;
    color: white;
    font-weight: 900;
    transition: background-color 0.5s ease;
}
button:hover{
    background-color: red;
}