body{

}
button{
    background-color: blue;
    border-radius: 4px;
    padding: 8px 16px;
    border: none;
    color: white;
    font-weight: 900;
    transition: background-color 0.5s ease;
    animation: cor 4s linear infinite ;
}
button:hover{
    background-color: rgb(185, 0, 0);
}
@keyframes cor {
    0% {transform: translate(0);}
    25% {transform: translate(25px);}
    50% {transform: translate(50px);}
    75% {transform: translate(75px);}
    100% {transform: translate(100px);}
}